#wrap{width: 100%;}

/* 상단부분 */
#header{float: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding: 1rem;
    background-color: #fff;
    z-index: 9999;
  }
#logo{
    float: left;margin-left: 50px;
}
/* 네비게이션 */
#header nav{
    font-size: 22px;
    text-align: center;
}
#header .nav_m{
    font-size: 22px;float: left;margin: 65px 0 0 480px;
}
#header .nav_m li{float:left; margin-right: 5px;
    padding-right: 80px; text-align: center;line-height: 50px;
}
#header .nav_m li a{display: block; height: 50px; width: 100%;}

#header nav li a:hover{ color: rgb(0, 0, 0);color: aqua;}
#header nav:hover + .submenu, .submenu:hover{height: 120px; }
#header nav:hover + .submenu, .submenu:hover .sub1{display: block;}
#header nav:hover + .submenu, .submenu:hover .sub2{display: block;}
#header nav:hover + .submenu, .submenu:hover .sub3{display: block;}
.submenu{width: 100%;height: 0px;background-color:rgba(131, 229, 235, 0.267);
position: absolute; top: 120px;left: 0px; z-index: 9999;
transition-delay: 0s;
transition-duration: 0.7s;
transition-property: all;
transition-timing-function: ease-in-out;font-size: 20px;
}
.submenu a:hover{color: aqua;}

.submenu .sub1{
float: left;
margin-left: 852px;
}
.submenu .sub2{
    float: left;
    margin-left: 210px;
}
.submenu .sub3{
    float: left;
    margin-left: 60px;
}
.submenu li{
    margin-top: 10px;
}

.submenu ul{
    display: none;
}

#header nav:hover +.submenu .sub1{
    display: block;
}

#header nav:hover +.submenu .sub2{
    display: block;
}

#header nav:hover +.submenu .sub3{
    display: block;
}
/* SNS */
#header .sns >ul{
    float: right; margin-top:70px;
    width:290px;height: 100px;
}
#header .sns li{
    display: inline; padding-left: 10px;
}
/* 콘텐츠 */
#contents{
    float: left;
    width: 100%;height:1200px;
}
#contents .artist_h{ 
    margin:170px 0 0 23%;
    font-size: 35px;
    color: #333;
    font-family: '궁서체';
}
#contents .artist_h2{
    margin: -15px 0 0 23%;
    font-size: 60px;
    color: #333;
    font-family: '궁서체';
}
/* 제목 */
#name{float: left; width: 300px;height: 300px;
        margin: 100px 0 0 70px;
        position: fixed;
}
#name .name_t{text-align: center; margin-top: 5px; font-size: 30px;}
#contents .name_t li{padding-top:10px;}
#contents .artist img{float: left;
padding: 40px 0 0 445px;}



#contents .artist_t{float: left; margin: 40px 0 0 20px;}
#contents .artist_t1{width: 600px;height: 100px;border-bottom: 1px solid #333;}
#contents .artist_t h2{font-size: 35px;}
#contents .artist_t p{float: right;padding:40px 20px 0 0;}
#contents .profile{float: left; width: 600px; height: 482px;}
#contents .profile_h{float: left; width: 600px;height: 150px;}
#contents .h_left{float: left; padding-top: 10px;font-size: 15px;width: 120px;height: 140px;}
#contents .profile_h li{padding-top: 15px;font-weight:bolder;}
#contents .h_right{padding-top: 10px;font-size: 15px;}

#contents .profile_b{float: left; width: 600px;height: 332px;}
#contents .profile_b h3{padding:15px 10px;}
#contents .year{float: left; margin-top: -7px; width:80px;height:332px;}
#contents .pro_t{float: left; margin-top: -7px;}
#contents .profile_b ul{padding-left: 20px;font-weight: bolder;}
#contents .profile_b li{padding-top: 10px;}
#contents .insta{
    position: absolute;
    top: 920px;left:450px;
    font-size: 20px;
    font-weight: bolder;
    border:3px solid rgb(28, 235, 21);
    border-radius: 8%;
    width: 215px; height: 59px;
    line-height: 59px;
    text-align: center;
    cursor: pointer;
}
#contents .insta a{
    color:rgb(28, 235, 21) ;
}
#contents .works{float: left;margin: 100px 0 0 450px;
    width: 1000px;height: 400px;
}
#contents .movie{float: left; width:450px;height: 400px;}
#contents .works h3{font-size: 40px;}
#contents .works ul{float: left; font-size: 20px;font-weight: bolder;margin-top: 35px;}
#contents .works li{margin-top: 10px;}
#contents .w_right{margin-left: 30px;}
#contents .D_right{margin-left: 30px;}
#contents .drama{float: left; width:490px;height: 400px;}